* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contato .links-rodape a  {
    display: none;
       
}

.roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    }


body { 
    background-color: #FFF3E8;
    font-family: "Roboto";
}


header {
    background-color: #8B1E3F;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem;
    margin-bottom: 1.8rem;
}

header h1 {
    color: #f3f3f3;
    cursor: pointer;
    transition: letter-spacing 0.3s;
}

header h1:hover {
    letter-spacing: 0.3px;
}


.container-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header li, a {
    list-style: none;
    text-decoration: none;
}

header img {
    width: 10%;
    max-width: 100%;
    border-radius: 50%;
    cursor: pointer;
    transition: box-shadow 0.3s;
}
header img:hover{ 
    box-shadow: 1px 5px  5px  1px #444;
}

header a {
    margin: 0.5rem;
    font-size: 1rem;
    color: #f3f3f3;
    font-weight: bold;
    transition: opacity, text-decoration 0.3s;
}

header a:hover {
    opacity: 0.4;
    text-decoration: underline;
}

.container-main{
    margin: 5rem auto;
    text-align: center;
    max-width: 95%;
    background: linear-gradient(135deg, #8B1E3F, #F4A6B8);
    padding: 2rem;
    border-radius: 7px;
}

.container-main h2 {
    font-size: 1.8rem;
    text-transform: uppercase;
    padding-bottom: 1.8rem;
    color: #f3f3f3;
}

.container-main img {
    width: 70%;
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 1.6rem;
}

.container-main div img {
    width: 30rem;
}

.container-main p {
    font-size: 1.2rem;
    font-weight: italic;
    margin-bottom: 3rem;
    color: #f3f3f3;
    text-transform: uppercase;
    line-height: 1.5rem;
}


.container-main span{
    font-weight: bold;
}

.btn-cta{
    background-color: #8B1E3F;
    padding: 1.1rem 6rem 1.1rem;
    border-radius: 12px;
    color: #f3f3f3;
    font-weight: bold;
    text-transform: uppercase;
    transition: border-left, border-bottom 0.3s;
}

.btn-cta:hover {
    border-left: 2px solid #f3f3f3;
    border-bottom: 2px solid #f3f3f3;
}

.container-sobre {
    max-width: 95%;
    width: 100%;
    background-color: #FFF3E8;
    border: 1px solid #8B1E3F;
    padding: 5rem;
    color: #2E2E2E;
    margin: 2rem auto;
    text-align: center;
    border-radius: 8px;

}

.container-sobre h3 {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.container-sobre div h3 {
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
}

.container-sobre img {
    width: 10%;
    max-width: 100%;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 2rem;
}

.sub-container-sobre {
    display: grid;
    /* grid-template-columns: repeat(3, 350px);*/
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    max-width: 100%;
    justify-content: center;
    gap: 3rem;
}

.sub-container-sobre .missao {
    background-color: #ddd;
    padding: 4rem;
    border-top: 2px solid #8B1E3F;
    border-radius: 8px;
}

.sub-container-sobre .missao h2 {
    margin-bottom: 15px;
}

.sub-container-sobre .missao li {
    list-style-type: none;
    font-size: 1.2rem;
    margin: 1.1rem auto;
    letter-spacing: 1px;
    line-height: 25px;
    
}


.sub-container-sobre .valores{
    background-color: #ddd;
    padding: 4rem;
    border-radius: 8px;
    border-top: 2px solid #8B1E3F;
}

.sub-container-sobre .valores h2 {
    margin-bottom: 15px;
}

.sub-container-sobre .valores p {
    font-size: 1.2rem;
    margin: 1.1rem auto;
    letter-spacing: 1px;
    line-height: 25px;
}

.sub-container-sobre .projetos {
    background-color: #ddd;
    padding: 4rem;
    border-radius: 8px;
    border-top: 2px solid #8B1E3F;
} 

.sub-container-sobre .projetos h2{
    margin-bottom: 15px;
}

.sub-container-sobre .projetos p {
    font-size: 1.2rem;
    margin: 1.1rem auto;
    letter-spacing: 1px;
    line-height: 25px;
}

.container-projetos {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 5rem;
    background-color: #f3f3f3;
    border: 1px solid #8B1E3F;
    max-width: 95%;
    margin: 0 auto;
    border-radius: 8px;

}

.container-projetos h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}


.container-projetos .subcontainer-projetos p {
    line-height: 1.8rem;
}

.container-projetos img {
    width: 35%;
    border-radius: 8px;
    max-width: 90%;
}

#p-projetos-sobre {
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: italic;
}

#div-projetos{
    margin: 0 auto;
    text-align: center;
}

.slides {

    padding: 1.2rem 1rem 1rem 1.2rem;
}

.slides h3 {
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: underline;
    color: #8B1E3F;
}

.slides p {
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: italic;
    padding-top: 1rem;
    text-transform: capitalize;
}

.container-doacoes{ 
    
    margin: 2rem auto;
    text-align: center;

    padding-top: 10rem;
    padding-bottom: 10rem;
    max-width: 95%; 
    border-radius: 8px;
    border: 1px solid #f75050;
    background-color: #8B1E3F;

}

.container-doacoes h3 {
    font-size: 1.8rem;
    margin-bottom: 2.5rem;
    color: #f3f3f3;
    text-transform: uppercase;
}

.container-doacoes p {
    font-size: 1.2rem;
    font-weight: bold;
    color: #f3f3f3;
    margin-bottom: 2.5rem;
    text-transform: uppercase;
}

.container-doacoes #a-contato{
    margin-top: 1.2rem;
    background-color: #f3f3f3;
    color: #8B1E3F;
    font-weight: bold;
    padding: 1.1rem 6rem 1.1rem;
}

div#contato {
    display: flex;
    justify-content: center;
    padding: 3rem;
    background-color: #8B1E3F;
}

div#contato li, a {
    margin: 1rem auto;
    color: #f3f3f3;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;

}

#contato .links-rodape  {
    display: flex;

    margin: auto auto;
    gap: 2rem;
} 

@media(max-width: 1020px){
    .container-sobre {
        max-width: 500px;
    }
}




@media(max-width: 768px) {

    .menu-icon{
        display:block;
        color: #f3f3f3;
    }

    .menu{
        display: none;
    }

    #menu-toggle:checked + .menu-icon + .container-nav-header{
        display:block;
    }


    header {
        display: flex;
        flex-direction: column;
        flex: 1;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }

    header a {
        margin: 1.3rem 0.5rem;
        text-align: center;
    }

    header h1 {
        text-align: center;
    }

    .container-main a {
        max-width: 95%;
        padding: 1rem 3rem 1rem  3rem;
    }

    .sub-container-sobre {
        display: grid;
        /* grid-template-columns: repeat(3, 350px);*/
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        max-width: 100%;
        justify-content: center;
        gap: 3rem;
    }
    

    .sub-container-sobre .missao p{
        text-align: center;
        padding: 5rem;
        font-size: 1.2rem;
        
    }

    .sub-container-sobre .valores {
        text-align: center;
        padding-right: 3rem ;
        padding-left: 3rem;
        font-size: 1.3rem;
        
    }

    .sub-container-sobre .valores p {
        font-size: 1.2rem;
    }

    .container-projetos img {
        width: 100%;
    }

    .container-doacoes {
        max-width: 95%;
    }
    .container-doacoes div #a-contato{
        padding: 1.1rem 1rem 1rem 1rem;
    }

    .container-sobre img {
        width: 35%;
        max-width: 100%;
        border-radius: 50%;
        cursor: pointer;
        margin-bottom: 2rem;
    }

    .links-rodape{
        display: flex;
        flex-wrap: wrap;
    }

    .links-rodape a {
        margin: 0 auto;
    }

    #contato {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
}

@media(max-width: 400px) {
    header img {
        display: none;
    }

    header h1 {
        text-align: center;
        font-size: 1.6rem;
    }
}